# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
stocbuy_env/

# Environment Variables
.env
.env.*

# Django
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# testing files 
system_instrustion.txt
testing_usage.txt


# cursor 
cursor/

# gitignore
gitignore

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py